.ram {
    color : red;
    margin-left: 300px;
}

.Lilly{
    margin-left: 400px;
    color:aqua;
  
}
.don {
    margin-top: -20px;
    margin-left: 300px;
}

.fr{
    color:rgb(36, 49, 49);
    margin-left: 220px;
}